@model IEnumerable<MovieTracker.Models.Anime>

@{
    ViewBag.Title = "Анимации";
}

<h2>Анимации</h2>

<p>
    @Html.ActionLink("Добави нова", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <strong>Заглавие</strong>
        </th>
        <th>
            <strong>Жанр</strong>
        </th>
        <th>
            <strong>Сезон</strong>
        </th>
        <th>
            <strong>Епизод</strong>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Season)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Episode)
        </td>
        <td>
            @Html.ActionLink("Редактирай", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Детайли", "Details", new { id=item.Id }) |
            @Html.ActionLink("Изтрий", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
