@model MovieTracker.Models.Movie

@{
    ViewBag.Title = "Детайли";
}

<h2>Детайли</h2>

<div>
    <h4>Филми</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            <strong>Заглавие</strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            <strong>Жанр</strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            <strong>Дата на гледане</strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfWatching)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактирай", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Назад", "Index")
</p>
